#p{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;

}

#p1{
    height: 250px;
    width: 255px;
    background-image: url(./image/pokhara.webp);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    margin-bottom: 50px;
    border-radius: 3px;


}

#p2{
    height: 250px;
    width: 255px;
    background-image: url(./image/Kathmandu_4.webp);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p3{
    height: 250px;
    width: 255px;
    background-image: url(./image/chitwan-national-park.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p4{
    height: 250px;
    width: 255px;
    background-image: url(./image/everest-base-camp-at.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p5{
    height: 250px;
    width: 255px;
    background-image: url(./image/rara-lake.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}
#p6{
    height: 250px;
    width: 255px;
    background-image: url(./image/pokhara.webp);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p7{
    height: 250px;
    width: 255px;
    background-image: url(./image/Kathmandu_4.webp);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p8{
    height: 250px;
    width: 255px;
    background-image: url(./image/chitwan-national-park.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p9{
    height: 250px;
    width: 255px;
    background-image: url(./image/everest-base-camp-at.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}

#p10{
    height: 250px;
    width: 255px;
    background-image: url(./image/rara-lake.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px;
    border-radius: 3px;

}


