body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    color: black;
    padding: 50px;
    text-align: center;
    background-image: url(../image/service.image/header.jpg);
}

header h1 {
    font-size: 2.5em;

}

header p {
    font-size: 1.2em;
}

#services {
    padding: 50px;
    background-color: #f7f7f7;
    background-image: url(../image/auth.image/R.jpg);
    background-size: cover;
}

#services h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    
}


.service {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    background-image: url(../image/service.image/header.jpg);
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#cta {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
}

#cta h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#cta ul {
    list-style-type: none;
    padding: 0;
}

#cta ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

#cta button {
    background-color: #ff6600;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#cta button:hover {
    background-color: #e65c00;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

footer a {
    color: #ff6600;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

a{
    text-decoration: none;
    padding: 10px;
    color: rgb(75, 66, 66);
}
a:hover{
    border: 2px solid rgb(62, 62, 90);
}
#nav2{
    display: flex;
    justify-content: end;
    justify-content: space-around;
    padding-left: 60%;
    cursor: pointer;
    background-image: url(../image/service.image/header.jpg);
    padding-top: 20px;
}